<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="p3_style.css">
	<title>Your Gas From !</title>
  <header class="cd-main-header">

  <h1>Your Gas is Almost here From SHELL GAS STATION!!!
    </h1>
    <h3><%= link_to "Logout", root_path %></h3>
		<!-- <h4>Welcome Andrew </h4> -->
  </header>
</head>
<body>

	<ul class="cd-pricing">

		<li>
			<div id="picture1">
				<%= image_tag("87.jpg", :alt => "rss feed") %>
			</div>
			<header class="cd-pricing-header">
        <div id="box">
          <div id="picture">
          <img src=file:///Users/mac/Desktop/wyncode/GASnap_Pro/87.jpg />
        </div>


				<div class="cd-price">
					<span><h2>$3.47 per gallon </h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">5</a>
      <a href="#">10</a>
      <a href="#">15</a>
      <a href="#">20</a>
      <a href="#">25</a>
      <a href="#">30</a>
    </div>
  </div>

  	<a class="button_example" href="#">SELECT</a>
		</li>

    <li>
			<div id="picture2">
				<%= image_tag("89.jpg", :alt => "rss feed") %>
			</div>
			<header class="cd-pricing-header">
        <div id="box">
          <div id="picture">
          <img src=file:///Users/mac/Desktop/wyncode/GASnap_Pro/89.jpg />
        </div>


				<div class="cd-price">
					<span><h2>$3.85 per gallon</h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">5</a>
      <a href="#">10</a>
      <a href="#">15</a>
      <a href="#">20</a>
      <a href="#">25</a>
      <a href="#">30</a>
    </div>
  </div>

  	<a class="button_example" href="#">SELECT</a>
		</li>

    <li>
			<div id="picture3">
				<%= image_tag("93.jpg", :alt => "rss feed") %>
			</div>
			<header class="cd-pricing-header">
        <div id="box">


				<div class="cd-price">
					<span><h2>$4.12 per gallon</h2></span>
				</div>
			</header>

        <div class="dropdown">
    <button class="dropbtn">Gallons</button>
    <div class="dropdown-content">
      <a href="#">5</a>
      <a href="#">10</a>
      <a href="#">15</a>
      <a href="#">20</a>
      <a href="#">25</a>
      <a href="#">30</a>
    </div>
  </div>

  	<a class="button_example" href="#">SELECT</a>
		</li>
	</ul>

<button class="done">
	<%= link_to "DONE", payment_path %>
</button>
