<html>
  <head>
    <meta charset="utf-8">
    <title>GASNAP</title>
      <link href="index.scss" rel="stylesheet" type="text/css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
    <header>

        <video autoplay loop class="video-background" muted plays-inline>
          <source src="https://zippy.gfycat.com/SeriousKeenHousefly.webm" type="video/webm"></video>

            <div class="logo">
              <%= image_tag("tranbkg_pic.png__360.png", :alt => "rss feed") %>
            </div>

       <div class="sign_up_form">


         <h1>Gas in a Snap!</h1>


       <div>
         <%= form_for(:user, :url => session_path(:user)) do |f| %>
       </div>

       <div>
         <span>Email</span><%= f.text_field :email %>
       </div>

       <div>
         <span>Password</span><%= f.password_field :password %>
       </div>

       <div>
         <%= f.check_box :remember_me %> <span>Remember Me</span>
       </div>

       <div class="form_sign_up_button">
         <%= link_to "Login", product_path, {:style=>'color:#FFFFFF; font-family:serif; font-size:1.5em'} %>
       </div>

      <p id="membersihp">Not a Member Yet?</p>
      <%= link_to "Sign Up Today!", sign_up_path,
      {:style=>'color:#F7FB12; font-size:2em; font-family:san; background-color:white opacity: 0.5; '} %>
      <!-- <span class="today-button">Up Today!</span> -->
       <% end %>

       </div>

      </header>
    <body>

  </body>
