<html>
  <head>
    <meta charset="utf-8">
    <title>GASNAP</title>
      <link href="index.scss" rel="stylesheet" type="text/css">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
<body>
    <header>

        <video autoplay loop class="video-background" muted plays-inline>
          <source src="https://zippy.gfycat.com/SeriousKeenHousefly.webm" type="video/webm"></video>
          </header>

            <div class="logo">
              <%= image_tag("tranbkg_pic.png__360.png", :alt => "rss feed") %>
            </div>

       <div class="sign_up_form">


         <h1 class="snap-snap">Snap Snap Here Comes The Gas!</h1>


       <div>
         <%= form_for(:user, :url => session_path(:user)) do |f| %>
       </div>
         <br>
       <div>
         <span class="email">Email</span><%= f.text_field :email %>
       </div>
        <br>
       <div>
         <span class="password">Password</span><%= f.password_field :password %>
       </div>
        <br>
       <div>
         <%= f.check_box :remember_me %> <span class="remember_me">Remember Me</span>
       </div>


       <div class="form_sign_up_button">
         <span>
           <%= link_to "Login  /", product_path, {:style=>'color:#ffffff; font-family: serif; font-size: 1.5em;'} %>
           <%= link_to "Register", sign_up_path, {:style=>'color:#ffffff; font-family: serif; font-size: 1.5em;'} %>
         </span>

       </div>

       <% end %>

       </div>

    <body>

  </body>
